body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  margin-top: 2em;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  color: #222;
}
p {
  text-align: center;
}

#wheel {
  max-width: 500px;
  margin: 0 auto;
}

iframe {
  max-width: 100vw;
  margin: 0 auto;
  border: 0;
  display: block;
}
